@keyframes reveal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes revealOnRight__heading {
  from {
    opacity: 0;
  }
  to {
    scale: 1.2;
  }
}

@keyframes move_circletwo{
  to {
    bottom: 600px;
  }
}

.heading {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 720px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.imgBox {
  width: 800px;
  height: 800px;
  position: absolute;
  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 460px;
}
.imgBox img {
  width: 600px;
  height: 600px;
  position: relative;
  margin: auto;
  top: 100px;
  left: 50px;
}
.cartel {
  grid-row: 5/8;
  left: 6rem;
  grid-column: 6/10;
  position: relative;
  width: 512px;
  height: 150px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.04);
  text-transform: uppercase;
  position: relative;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
}

.caja-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
  position: relative;
  bottom: 0;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}
.caja-texto > p {
  font-size: 2rem;
  position: relative;
  top: 1.6rem;
  color: #555555;
}
.cartel--nombre {
  font-size: 3.7rem;
  color: #00a3ff;
}
.caja-texto > h1 {
  position: relative;
  font-size: 1.27rem;
  bottom: 1.1rem;
}
.iconos {
  grid-column: 7/12;
  grid-row: 8/9;
  right: 2.8rem;
  bottom: 1rem;
  position: relative;
  width: 31.7rem;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}
.iconos > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto {
  grid-column: 7/12;
  grid-row: 9/12;
  right: 1.5rem;
  position: relative;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}

.circle-one {
  width: 100%;
  height: 100%;
  position: relative;
  grid-column: 1/7;
  grid-row: 2/12;
  left: 0px;
  bottom: 0px;
}


.circle-one::after {
  content: "";
  background-image: radial-gradient(circle 600px, #00a3ffa9, #ffffff00);
  border-radius: 50%;
  width: 1200px;
  height: 1200px;
  position: relative;
  display: inline-block;
  right: -180px;

  top: 3rem;
  animation: revealOnRight__heading linear both;
  animation-timeline: scroll(root);
  animation-range: 0 800px;
}

.circle-two {
  width: 100%;
  height: 100%;

}

.circle-two::after {
  content: "";
  background-image: radial-gradient(circle 300px, #ffaa009f, #ffffff00);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  position: relative;
  display: inline-block;
  bottom: 200px;

  animation: move_circletwo linear both;
  animation-timeline: scroll(root);
  animation-range: 0 800px;
}


.heading__circle2Container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  grid-column: 11/13;
  grid-row: 1/12;
  bottom: 100px;
}
