@keyframes reveal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes revealOnRight__heading {
  from {
    opacity: 0;
  }
  to {
    scale: 1.2;
  }
}

@keyframes move_circletwo {
  to {
    bottom: 600px;
  }
}

.heading {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 45rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.imgBox {
  width: 50rem;
  height: 50rem;
  position: absolute;
  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 460px;
  grid-column: 2/6;
  grid-row: 2/11;
}

.imgBox img {
  width: 37.5rem;
  height: 37.5rem;
  position: relative;
  margin: auto;
  top: 3.125rem;
  left: 7.5rem;
}
.cartel {
  grid-row: 4/8;
  grid-column: 8/11;
  position: relative;
  width: 32rem;
  height: 9.375rem;
  opacity: 1;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.04);
  text-transform: uppercase;
  position: relative;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
}

.caja-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
  position: relative;
  bottom: 0;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}
.caja-texto > p {
  font-size: 2rem;
  position: relative;
  top: 1.6rem;
  color: #000;
}
.cartel--nombre {
  font-size: 3.7rem;
  color: #00a3ff;
}
.caja-texto > h1 {
  position: relative;
  font-size: 1.27rem;
  bottom: 1.1rem;
}

.iconos {
  grid-column: 8/12;
  grid-row: 7/9;
  bottom: 1rem;
  position: relative;
  width: 31.7rem;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}
.iconos > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto {
  grid-column: 8/11;
  grid-row: 8/12;
  position: relative;

  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: 0 500px;
  position: relative;
}

.circle-one {
  width: 50%;
  height: 100%;
  position: absolute;
  grid-column: 1/7;
  grid-row: 1/12;
  left: 0px;
  bottom: 0px;
}

.circle-one::after {
  content: "";
  background-image: radial-gradient(circle 500px, #00a3ffa9, #ffffff00);
  border-radius: 50%;
  width: 1100px;
  height: 1200px;
  position: relative;
  display: inline-block;
  right: -180px;

  top: 3rem;
  animation: revealOnRight__heading linear both;
  animation-timeline: scroll(root);
  animation-range: 0 800px;
}

.circle-two {
  width: 100%;
  height: 100%;
}

.circle-two::after {
  content: "";
  background-image: radial-gradient(circle 300px, #ffaa009f, #ffffff00);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  position: relative;
  display: inline-block;
  bottom: 200px;

  animation: move_circletwo linear both;
  animation-timeline: scroll(root);
  animation-range: 0 800px;
}
.heading__circle2Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  grid-column: 11/13;
  grid-row: 1/12;
  bottom: 100px;
}


@media (max-width: 1440px) {
  .heading{
    height: 37.5rem;
  }

  .imgBox{
    grid-column: 1/5;
  }
  .imgBox img {
    width: 500px;
    height: 500px;
    top: 50px;
    left: 0px;
  }

  .cartel {
    grid-row: 3/8;
    left: 30px;
  }

  .iconos {
    grid-row: 6/9;
    left: 30px;
    bottom: 0px;
    top: 10px;

  }
  .texto{
    width: 95%;
    grid-row: 7/12;
    left: 30px;
    top: 20px;

  }

}
@media  (max-width: 480px) {
  .heading {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: calc(100vw - 0.625rem);
    margin: 0 0.625rem;
    height: 45rem;
  }
  .imgBox {
    display: none;
  }
  .cartel {
    grid-row: 1/8;
    grid-column: 1/5;
    position: relative;
    opacity: 1;
    left: 0px;
    width: 95vw;
    height: 18.75rem;
    animation: reveal linear both;
    animation-timeline: scroll(root);
    animation-range: 0 31.25rem;
    padding: 0.313rem 1.875rem;
  }
  .cartel--nombre {
    font-size: 3.8rem;
    line-height: 4.063rem;
    color: #00a3ff;
  }
 
  .caja-texto > p {
    font-size: 1.7rem;
    top: 0.625rem;
    left: -0.188rem;
  }
  .caja-texto > h1 {
    position: relative;
    font-size: 1.4rem;
    bottom: 0rem;
  }
  .iconos {
    grid-column: 1/5;
    grid-row: 3/4;
    right: 0rem;
    bottom: 0rem;
    top: 3.75rem;
    position: relative;
    width: 80vw;
    animation: reveal linear both;
    animation-timeline: scroll(root);
    animation-range: 0 31.25rem;
    position: relative;
  }

  .texto {
    grid-column: 1/5;
    grid-row: 4/5;
    right: -0.625rem;
    width: 85vw;
    position: relative;
    animation: reveal linear both;
    animation-timeline: scroll(root);
    animation-range: 0 31.25rem;
    position: relative;
  }
  .heading__circle2Container,
  .circle-one {
    display: none;
  }
}